services:
  db:
    image: postgres:16
    container_name: digifor-db
    restart: always
    environment:
      POSTGRES_USER: digifordb
      POSTGRES_PASSWORD: Grz6ayTrBXPnFkwL
      POSTGRES_DB: digifor
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: digifor-app
    restart: always
    env_file: .env
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  postgres_data:
